<% content_for :title do %>Exercises<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weights" data-view="Text" data-title="Weights" data-text="Graphs for all weight exercises"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bicep_curls" data-view="Graph" data-title="Bicep Curls" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
